@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

li{
    list-style: none;
}
body{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

.title-text{
    opacity: 88%;
    font-size:65px;
    margin-top:10px;
    font-family: 'Staatliches', cursive;
}

.sub-title-text{
    font-family: 'Staatliches', cursive;
    font-size:38px;
}

.normal-text{
    margin-left:40px;
    font-family: 'Staatliches', cursive;
    font-size:20px;
}

.content{
    text-align: center;
    margin-top:30px;
    margin-left: 20%;
    margin-right:20%;
    border-radius:50px;
    padding:30px;
    background: #FFEFBA;
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); 
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); 
}

.item{
    width:25%;
    border-radius: 50px;
    margin:10px;
    padding:5px;
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-light{
    margin-left:150px;
}

.btn-success{
    margin-top:15px;
}

.header{
    display:flex;
    justify-content:center;
    align-items: center;
}

.footer{
    margin-top:50px;
    display:flex;
    justify-content:center;
}